html {
    box-sizing: border-box;
   }

*, *:before, *:after {
    box-sizing: inherit;
   }

body {
    background-color: lightgray;
}

section {
    background-color: white;
}

h1 {
    color: #92140C;
}

h2 {
    color: rgb(34, 22, 85);
}

.navigation {
    background-color: #6bf795;
    padding: 16px;
    border-radius: 8px;
}

.navigation__link {
    color: white;
    display: inline-block;
    margin-right: 20px;
}

.navigation__link--homepage {
    background-color: red;
    color: black;
}

.week-summary {
    padding: 16px;
    border: 1px gray solid;
    margin-bottom: 10px;
}

.week-summary--sepcial {
    border: 1px red solid;
}

.week-summary__title {
    color: green;
}

.week-summary__description {
    color: red;
}

.list {
    list-style: ;
}

.table {
    width: 100%;
}