body {
    background-color: lightgray;
}

section {
    background-color: white;
}

h1 {
    color: #92140C;
}

h2 {
    color: rgb(34, 22, 85);
}

.special-header {
    color: #21A179;
}

.header-link {
    color: rgb(107, 247, 149);
}